<h1> <%= @driver.name %></h1>

<h2> Info: </h2>
    <ul> <h3> Name: <%= @driver.name %> </h3> </ul>
    <ul> <h3> Number: <%= @driver.permanent_number %> </h3> </ul>
    <ul> <h3> Team: <%= link_to @driver.team.name, user_team_path(current_user, @driver.team)  %> </h3> </ul> 
<br>
<br> 
<%= link_to 'User Profile', user_path(current_user) %>
<br>
<br> 
<%= link_to 'All Drivers', drivers_path %>
<br>
<br> 
<% if current_user.drivers.ids.include?(@driver.id) %>
    <%= link_to 'Edit', edit_team_driver_path(current_user) %>
    <br>
    <br>
    <%= link_to 'Delete', team_driver_path(current_user), method: :delete %>
    <% end %>
<br>
<br>
<%= link_to 'Log Out', logout_path, method: :post %>

